<!DOCTYPE html>
<html>
<head>
  <title>CanvasOauth</title>
  <%= stylesheet_link_tag    "canvas_oauth/application", :media => "all" %>
  <%= javascript_include_tag "canvas_oauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
